// Цвета
$mainColor: #000;
$primaryColor: #FFF;
$accentColor: #D3B47F;
$btnColor: #3A4574;
$borderColor: #E7E7E7;
$textColor: #808080;


// Брейк-поинты
$tablet: 991.98px; // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: 767.98px; // Телефоны L
$mobileSmall: 479.98px; // Телефоны S